$eo-black: #221D06;
$eo-hover-black: #000000;
$eo-yellow: #f8c200;
$eo-white: #ffffff;


html,
body,
main {
	width: 100%;
	height: 100%;
}

body {
	background-color: $eo-yellow;
	position: relative;
	display: inline-block;
	width: 100%;
	height: auto;
}

section {
	width: 100%;
	padding: 20px 0;
}

.flex {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-item {
	display: inline-block;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

.button {
	border-radius: 10px;
	border: 1px solid #bd9400;
	padding: 10px 30px;
	color : #ffffff;
	text-decoration: none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#352e16+0,241d05+39 */
	background: rgb(53,46,22); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(53,46,22,1) 0%, rgba(36,29,5,1) 39%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(53,46,22,1) 0%,rgba(36,29,5,1) 39%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(53,46,22,1) 0%,rgba(36,29,5,1) 39%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#352e16', endColorstr='#241d05',GradientType=0 ); /* IE6-9 */

	&:hover {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f4521+0,241d05+68,241d05+100 */
		background: rgb(79,69,33); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(79,69,33,1) 0%, rgba(36,29,5,1) 68%, rgba(36,29,5,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(79,69,33,1) 0%,rgba(36,29,5,1) 68%,rgba(36,29,5,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(79,69,33,1) 0%,rgba(36,29,5,1) 68%,rgba(36,29,5,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4521', endColorstr='#241d05',GradientType=0 ); /* IE6-9 */
	}
}

@media screen and (max-width: 870px) {  
	h1 {
		font-size: 28px;
	}
}